<template>
	<div class="privacypolicy">
		<loader v-if="loading"></loader>
		<section class="shape-bg">
			<div class="container">
				<h1>Privacy policy</h1>
			</div>
		</section>
		<!-- end -->

		<!-- main Content -->

		<section class="main-content">
			<div class="container">
				<h2>{{ privacypolicy_data.title }}</h2>
				<p v-html="privacypolicy_data.description"></p>
			</div>

		</section>
	</div>
</template>
<script>
	import { HTTP } from '../../_helper/http-constants.js'
	export default {
		name: "PrivacyPolicy",
		data() {
			return {
				logo: null,
				privacypolicy_data: null,
				loading: false
			}
		},
		methods: {
			getPrivacyPolicyData() {
				this.loading = true;
				HTTP.get('/cms').then(res => {
					if (res.data.status === 200) {
						this.privacypolicy_data = res.data.privacypolicy_data[0];
						this.loading = false;
					}else{
						this.loading = false;
					}
				})
				.catch(err => {
					this.loading = false;
					console.log(err)
				});
			}
		},
		created() {
			this.getPrivacyPolicyData();
		}
	}
</script>