<!DOCTYPE html>
<html lang="">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>Dj Ivan</title>
	<base href="/" />
	<link rel="icon" type="image/png" sizes="32x32" href="./assets/images/logo.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="assets/css/mobile.css">
    <link rel="stylesheet" href="assets/css/tab.css">
    <!-- style css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- animation cdn-->
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <!-- icon cdn -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
    <!-- font cdn -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- carousel -->
    <!-- <link rel="stylesheet" href="./assets/css/owl.carousel.css"> -->
	<!-- carousel -->
	<!-- <link rel="stylesheet" href="assets/css/owl.carousel.css"> -->
	<link href="//vjs.zencdn.net/7.8.2/video-js.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- end carousel -->
	<!-- playerjs -->
	<script src="../public/assets/js/playerjsn.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
	<style type="text/css">
		/*loder css*/
		.loader {
		   position: fixed;
		   width: 100%;
		   height: 100%;
		   z-index: 11111;
		   display: block;
		   right: 50%;
		   top: 0%;
	   }

	   .loader img {
		   position: absolute;
		   z-index: 1111111111;
		   width: 100%;
		   object-fit: scale-down;
		   height: 90px;
		   top: 40%;
	   }

	   .loader:before {
		   content: " ";
		   background: #333222d9;
		   height: 100%;
		   width: 100%;
		   z-index: 111111;
		   position: absolute;
	   }
	</style>
  </head>
  <body class="White-back">
	<noscript>
	  <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->
	<script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
<!--     <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script> -->
    <script src="assets/js/custom.js"></script>
	<!-- <script src="assets/js/jquery-input-mask-phone-number.js"></script> -->
	<script src="//vjs.zencdn.net/7.8.2/video.min.js"></script>
	<script src="https://kit.fontawesome.com/e26aa469e3.js" crossorigin="anonymous"></script>
	
	<!-- <script type="text/javascript">
		$(document).ready(function () {
			$('.phone').usPhoneFormat({
				format: 'xxx-xxx-xxxx',
			});   
		});
	</script> -->
	<script type="text/javascript">
		 localStorage.removeItem('currentSongId');
		const script = document.createElement("script");
		script.async = true;
		script.src = "../assets/js/playerjsn.js";
		console.log(script, "script");
		document.head.appendChild(script);
		
		function plyvideohls(vurl){
					var video = document.getElementById('video');
					
					
					if(Hls.isSupported()) {
						
						var hls = new Hls();
						hls.loadSource(vurl);
						hls.attachMedia(video);

						console.log(hls,"hlsobj");
						//document.getElementById('player').addEventListener('pause',  (event) => {
						var cid = JSON.parse(window.localStorage.getItem('currentSongId'));
						
						if(cid){
							
							player.api('pause');

						}
						//player.api('end');
						//});
						hls.on(Hls.Events.MANIFEST_PARSED,function() {
							
							video.play();
							//alert("in");
						});
						
						//alert("in2");
					}
					// hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
					// When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
					// This is using the built-in support of the plain video element, without using hls.js.
					else if (video.canPlayType('application/vnd.apple.mpegurl')) {

						video.src = vurl;
						video.addEventListener('canplay',function() {
							video.play();
							document.getElementById('player').addEventListener('pause', onPause());
						});
					}
				}
		var player;
		var Playlist = [];
		var loadPlayerFunction = function loadPlayer (song, data, index) {
			if(!player) {
				player = new Playerjs({id:"player", file: data});
				Playlist = data;
			} else {
				playList = data;
				const songIndex = playList.findIndex((playSongObj) => {
            		return playSongObj.id === data[index].id;
    			});
				if (songIndex !== -1) {
					player.api('play', playList[songIndex].file);
					player.api('title', playList[songIndex].title);
					player.api('poster', playList[songIndex].poster)
				}
				document.getElementById('player').addEventListener('pause', onPause());
				document.getElementById('player').addEventListener('end', onEnd());
				document.getElementById('player').addEventListener('new', (event) => {
					onNew(event, this);
				});
				document.getElementById('player').addEventListener('audiotrack', (event) => {
					onNext(event, this);
				});
				function onNew(event, self) {
					if (self.player.api('playlist_id') != self.currentSongId) {
						localStorage.setItem("currentSongId", self.player.api('playlist_id'));
					}
				}
				function onNext(event, self) {
					localStorage.setItem("currentSongId", self.player.api('playlist_id'));
				}
				
				function onPause() {
					localStorage.setItem("currentSongId", self.player.api('pause'));
					console.log();
				}
				function onEnd() {

				}
			}
		}
		function onPauseAudio() {
			
			var cid = JSON.parse(window.localStorage.getItem('currentSongId'));
			if(cid){
				player.api('pause');
			}
		}

		// $(document).ready(function(){
		// 	setInterval(function(){
		// 		$(".play").eq(0).trigger("click");
		// 	},100);
		// });
	</script>
  </body>
</html>
